// Primary

$brightblue : hsl(220, 98%, 61%);
$checkBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

// Light Theme

$veryLightGray: hsl(0, 0%, 98%);
$veryLightGrayishBlue: hsl(236, 33%, 92%);
$lightGrayishBlue: hsl(233, 11%, 84%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);


// Dark Theme 

$darkveryDarkBlue: hsl(235, 21%, 11%);
$darkveryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$darklightGrayishBlue: hsl(234, 39%, 85%);
$darklightGrayishBlueHover: hsl(236, 33%, 92%);
$darkdarkGrayishBlue: hsl(234, 11%, 52%);
$darkveryDarkGrayishBlue: hsl(233, 14%, 35%);
$darkveryDarkGrayishBlue2: hsl(237, 14%, 26%);


